<!-- <div *ngFor="let string of greetings">
    <div class="container">
     <p>{{string}}</p>
    </div>
   </div>
   <form #loginForm=ngForm>
    <div>
     <br>
     <textarea autocomplete="off" placeholder="Type Your Message..." name="newmessage" [(ngModel)]="newmessage" required></textarea>
     <button class="btn btn-primary" (click)="sendMessage()" [disabled]="!loginForm.valid">Send</button>
    </div>
   </form> -->
<div class="flex flex-col h-screen p-4">
    <div class="card h-screen p-4">
        <div class="w-1/2">
            <div *ngFor="let message of greetings" class="container mb-2">
                <div class="bg-blue-500 text-white p-2 rounded">
                    <p>{{ message }}</p>
                </div>
            </div>
        </div>
        <!-- Second div aligned to right -->
        <div class="w-1/2 flex justify-end">
            <div *ngFor="let message of myGreetings" class="container mb-2">
                <div class="bg-red-500 text-white p-2 rounded">
                    <p>{{ message }}</p>
                </div>
            </div>
        </div>

        <form #loginForm="ngForm" class="flex items-end p-4 mb-4">
            <div class="flex-1">
                <textarea autocomplete="off" placeholder="Type Your Message..." name="newmessage"
                    [(ngModel)]="newmessage" required class="w-full border p-2 rounded"></textarea>
            </div>

            <button class="btn btn-primary ml-2 mb-3" (click)="sendMessage()" [disabled]="!loginForm.valid">
                Send
            </button>
        </form>
    </div>
</div>